# never publish third-party content / personal data
RPCS3/
Games/
Saves/
Cheats/
Backups/
Logs/
Screenshots_AB/
*.exe
*.dll
*.pdb
*.pkg
*.PUP
*.7z
*.zip
*.dat
*.iso
rpcn.yml
CurrentSettings.ini
*.png
*.jpg
